.App {
  background-color: rgba(var(--color-primary-rgb), .9);
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.top-navbar {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .4);
}

#nav-logo {
  width: 40px;
}

nav.top-navbar div {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.top-navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav.top-navbar ul>li {
  padding: .5rem 1rem;
}

nav.top-navbar ul>li>a {
  transition: opacity .3s;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-primary-contrast);
}

nav.top-navbar ul>li>a:hover {
  opacity: .5;
}

.App-header {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  font-size: calc(10px + 2vmin);
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.hidden-overflow {
  overflow-x: hidden;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slider-inverse {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.App-link {
  color: var(--color-secondary);
}

h1, h2, h3, h4, h5, p, small {
  color: var(--color-primary-contrast);
}

small {
  font-size: 1rem;
}

.slide-in {
  animation: slide-in 2s forwards;
  -webkit-animation: slide-in 2s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

.App-header-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .App-header {
    display: none;
  }

  nav {
    display: none;
  }

  .App-header-mobile {
    display: block;
  }
}